html{
    scroll-behavior: smooth;
}
main.hero{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.s1{
    background-image:url("../images/home1.jpeg");
    background-size: cover;
    background-position: center;
    width:100%;
    /*height: 100vh;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: -1;*/
}
.s2{
background-image: url("../images/white.jpg");
    width: 100%;
    height:500px;


}
.admin-d{
    background-color: #007BFF;
    color: #fff;
    padding: 1px 10px;
    border-radius: 1px;
    /*font-weight: bold;*/
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;

}
.s3{
background: #11101d;
}
.s4{
background: white;
    height: 600px;
    width: 100%;
}
.s5{
background: #11101d;
    height: 600px;
    width: 100%;
}


